#loginForm
{
    background: white;
    padding: 2rem;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    position: absolute;
    min-width: 200px;
    max-width: 300px;
    left: 50%;
    top: calc(50%);
    transform: translate(-50%,-50%);
    border-radius: 0.75rem;
    box-shadow: 0px 1px 0px 0px rgba(0 ,0, 0, 0.05);
}
#loginForm label
{
    width: 100%;
    color: #818181;
}
#loginForm h2#loginh2
{
    margin-bottom: 1rem;
}
#loginForm input
{
    padding: 0.5rem 1rem;
    border: 1px solid #818181;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

#loginForm input:focus
{
    border-color: #EF7A1B;
    
    outline: 0 none;
}
#loginForm button#submit
{
    background:#EF7A1B;
    border-radius: 10px;
    border: 0px;
    font-size: 16px;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
}
#loginForm button#submit:hover
{
    background: #bf6115;
}
